HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Local env/secrets
.env
.env.*
application-local.properties
application-secrets.properties

# Runtime artifacts
uploads/
*.log
.DS_Store
/.gradle-cache/
.gradle-cache/
/.gradle_tmp/
.gradle_tmp/
/ . g r a d l e - c a c h e / 
 
 / . g r a d l e / 
 
 / b u i l d / 
 
 / u p l o a d s / 
 
 / . v s c o d e / 
 
 / b i n / 
 
 / o u t / 
 
 / g r a d l e / 
 
 